<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @book do |f| %>
  <h6>Title</h6>
  <%= f.text_field :title %>

  <h6>Body</h6>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>

  <h6>
    <%= link_to "Show", book_path(@book.id) %>
    <%= link_to "Back", books_path %>
  </h6>
<% end %>
